google-generativeai
langchain 
langchain-community
langchain-openai
langchain-google-geneai
phidata 
openai 
vosk 
google-cloud-texttospeech
python-dotenv
flask
flask-cors
markdown2 
beautifulsoup4
mistune
langchain-huggingface 
sentence_transformers
langchain-cli
langchain-ollama
faiss-cpu
speechrecognition
pyttsx3
html2text
gtts 
pygame